.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__profiles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.app__profile-item {
  width:280px;
  border:1px solid var(--orange-color);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem;
  border-radius:5px;

  .bold-text{
    color:var(--orange-color);
  }
  
  p{
    font-size:22px;
    text-align: center;
    padding:2px;
  }
  img {
    width: 100%;
    height: 230px;
    object-fit:cover;
    border-radius: 0px;
  }

  h2{
    text-align:center;
    font-size: 22px;
    text-transform:capitalize;
    margin-top:13px;
    color:var(--orange-color);
  }


  @media screen and (min-width: 2000px) {
    width: 370px;
    margin: 2rem 4rem;

    img {
      height: 320px;
    }
  }
}
