
.app__content{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;

  p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    text-align:center;
  }

  img{

    object-fit: cover;
    border:1px solid black;
    border-radius:50%;   
    margin:2rem 0;
    height:400px;
    width:330px;
  }

   @media screen and (max-width: 900px) {
    width: 100%;
    flex-direction: column;
  }

   
}


.app__header-name{
    color:var(--orange-color);
}

.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__profiles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.app__profile-item {
  width: 190px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem;

  img {
    width: 100%;
    height: 170px;
    border-radius: 15px;
    object-fit: cover;
  }

  @media screen and (min-width: 2000px) {
    width: 370px;
    margin: 2rem 4rem;

    img {
      height: 320px;
    }
  }
}
