.app__works {
  flex: 1;
  width: 100%;
  flex-direction: column;
}
.app__work-heading{
  display:flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width:100%;
}


.app__work-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem 0 2rem;

  .app__work-filter-item {
    border-radius: 20px;
    padding:0.1rem 1rem;
    border:1px solid var(--orange-color);
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 800;
    font-size:18px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0.5rem;

    &:hover {
      background-color: var(--orange-color);
      color:var(--white-color);
    }

    @media screen and (min-width: 2000px) {
      padding: 1rem 2rem;
      border-radius: 0.85rem;
    }
  }

  .item-active {
    background-color: var(--orange-color);
    color: var(--secondary-color);
  }
}

.app__work-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .app__work-item {
    width: 330px;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;

    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    }

    @media screen and (min-width: 2000px) {
      width: 470px;
      padding: 1.25rem;
      border-radius: 0.75rem;
    }

    @media screen and (max-width: 300px) {
      width: 100%;
      margin: 1rem;
    }
  }
}

.app__work-img {
  width: 100%;
  height: 230px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
  }

  @media screen and (min-width: 2000px) {
    height: 350px;
  }
}

.app__work-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.3s ease;

  div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 1rem;
    font-family: var(--font-base);
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;

    svg {
      width: 50%;
      height: 50%;
      color: var(--white-color);
    }
  }
}

.app__work-content {
  padding: 0.5rem;
  width: 100%;
  position: relative;
  flex-direction: column;
  // background-color:black;

  h4 {
    position:absolute;
    top:10px;
    margin-top: 1.5rem;
    line-height: 1.5;

    @media screen and (min-width: 2000px) {
      margin-top: 3rem;
    }
  }

  .app__work-tag { 
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    position: absolute;
    margin:10px 10px;
    border-radius: 20px;
    padding:0.1rem 1.5rem;
    background-color: var(--primary-color);
    top: -23.5px;
    color:var(--white-color);
    font-size:20px;
    margin-top:2px;
    color:var(--white-color);
  }

  .app__work-description{
      position:relative;
      font-size: 20px;
      text-align: center;
    }

  .app__work-heading{
    position:relative;
    top:0;
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: center;
    color:var(--orange-color);
    font-weight:500;

  }
}

.head-s-text{
  span{
    color:var(--orange-color);
  }
}
